@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../media/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: 500;
}

.text-bg {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.8rem;
}

.badge {
  padding: 8px;
  color: #fff;
  font-weight: bolder;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

.badge-green {
  background-color: rgba(54, 183, 42, 0.8);
}

.badge-blue {
  background-color: rgba(82, 113, 255, 0.8);
}

.badge-red {
  background-color: rgb(234, 62, 62, 0.8);
}

.badge-orange {
  background-color: rgba(255, 162, 0, 0.8);
}

.content {
  min-width: 400px;
}

.content-row {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  padding: 0.8rem 2rem;
  background: rgb(67 84 142 / 38%);
}
.content-row:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
  animation: gradient 3s linear infinite;
}

.content-row input {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1.1rem;
  line-height: 2.2rem;
  display: block;
}
.content-row input::-webkit-input-placeholder {
  color: #9098b4;
}

.copyable:hover {
  cursor: pointer;
}

button {
  margin: 10px 0;
  color: #fff;
  font-size: 3rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30%;
}

button:hover {
  color: #bfd2ff !important;
}

#connect-form {
  display: block;
}

#connect-result {
  display: none;
}

#disconnect-btn {
  color: #ea3e3e;
}

#loading {
  display: none;
}

#loading img {
  height: 200px;
  width: 200px;
  opacity: 0.9;
  border-radius: 50%;
}

/* Table */
#request-table {
  margin: 0.5rem 0;
  min-width: 300px;
  min-height: 200px;
}

#request-table th {
  display: none;
}

#request-table td {
  display: block;
}

#request-table td:before {
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  #request-table td:before {
    display: none;
  }
}
#request-table th,
#request-table td {
  text-align: left;
}
@media (min-width: 480px) {
  #request-table th,
  #request-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  #request-table th:first-child,
  #request-table td:first-child {
    padding-left: 0;
  }
  #request-table th:last-child,
  #request-table td:last-child {
    padding-right: 0;
  }
}

#request-table {
  color: #fff;
  overflow: hidden;
}

@media (min-width: 480px) {
  #request-table th,
  #request-table td {
    padding: 1em !important;
  }
}
#request-table th,
#request-table td:before {
  color: #dd5;
}
/* End Table */

/* Notication Box */
#noti-box {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
}

#noti-box.error{
  background-color: rgb(232 87 87 / 70%);
}

#noti-box.success{
  background-color: rgba(54, 183, 42, 0.8);
}

#noti-box.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 1s 4.5s;
  animation: fadein 0.5s, fadeout 1s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 70px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 70px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 70px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 70px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* End Notication Box */